<div class='fight_opponent_1'>
  <%= @op1['name'] %>

  <table>
    <tr>
      <td>
        Health
      </td>
      <td>
        <%= @op1['health'] %>
      </td>
    </tr>
    <tr>
      <td>
        Dodge
      </td>
      <td>
        <%= @op1['dodge'] %>
      </td>
    </tr>
    <tr>
      <td>
        Speed
      </td>
      <td>
        <%= @op1['speed'] %>
      </td>
    </tr>
    <tr>
      <td>
        Strength
      </td>
      <td>
        <%= @op1['strength'] %>
      </td>
    </tr>
  </table>

</div>

<div class='fight_container'>

  <% @moves.each do |m| %>

      <%= m %>
      <br><br>
  <% end %>


  <%= @result %>

</div>

<div class='fight_opponent_2'>
  <%= @op2['name'] %>

  <table>
    <tr>
      <td>
        Health
      </td>
      <td>
        <%= @op2['health'] %>
      </td>
    </tr>
    <tr>
      <td>
        Dodge
      </td>
      <td>
        <%= @op2['dodge'] %>
      </td>
    </tr>
    <tr>
      <td>
        Speed
      </td>
      <td>
        <%= @op2['speed'] %>
      </td>
    </tr>
    <tr>
      <td>
        Strength
      </td>
      <td>
        <%= @op2['strength'] %>
      </td>
    </tr>
  </table>

</div>

