<div class='fight_opponent_1'>
  <%= @op1_name %>

  <table>
    <tr>
      <td>
        Health
      </td>
      <td>
        <%= @op1_health %>
      </td>
    </tr>
    <tr>
      <td>
        Dodge
      </td>
      <td>
        <%= @op1_dodge %>
      </td>
    </tr>
    <tr>
      <td>
        Speed
      </td>
      <td>
        <%= @op1_speed %>
      </td>
    </tr>
    <tr>
      <td>
        Strength
      </td>
      <td>
        <%= @op1_strength %>
      </td>
    </tr>
  </table>

</div>

<div class='fight_container'>

  <% @moves.each do |m| %>

      <%= m %>
      <br>
  <% end %>


  <%= @result %>

</div>

<div class='fight_opponent_2'>
  <%= @op2_name %>

  <table>
    <tr>
      <td>
        Health
      </td>
      <td>
        <%= @op2_health %>
      </td>
    </tr>
    <tr>
      <td>
        Dodge
      </td>
      <td>
        <%= @op2_dodge %>
      </td>
    </tr>
    <tr>
      <td>
        Speed
      </td>
      <td>
        <%= @op2_speed %>
      </td>
    </tr>
    <tr>
      <td>
        Strength
      </td>
      <td>
        <%= @op2_strength %>
      </td>
    </tr>
  </table>

</div>

