<h1>Welcome to Web Gladiator</h1>


<%= form_tag(fights_path) do %>

<div>Opponent 1:</div>

<div class="textField"><%= text_field_tag(:opponent_1, value = 'Website Address') %>
    <%= text_field_tag(:opponent_1_name, value = 'Website Name') %></div>

     <br>

    <div>VS.</div>

    <br>

<div>Opponent 2:</div>

<div class="textField"><%= text_field_tag(:opponent_2, value = 'Website Address') %>
    <%= text_field_tag(:opponent_2_name, value = 'Website Name') %></div>

    <%= submit_tag(value = 'FIGHT!') %>

    <br><br><br><br><br><br>


<% end %>


