<div class='main_title'>Web Gladiator</div>


<%= form_tag(fights_path) do %>

    <div class='opponent_container'>
      <div class='opponent_name'>Opponent 1:</div>

      <%= text_field_tag(:opponent_1, value = 'Website Address', :class => 'text_field') %>
      <%= text_field_tag(:opponent_1_name, value = 'Website Name', :class => 'text_field') %></div>
    </div>

    <div class='vs'>VS.</div>

    <div class='opponent_container'>
      <div class='opponent_name'>Opponent 2:</div>

      <%= text_field_tag(:opponent_2, value = 'Website Address', :class => 'text_field') %>
      <%= text_field_tag(:opponent_2_name, value = 'Website Name', :class => 'text_field') %></div>
    </div>

    <div class='submit_btn'>
    <%= submit_tag(value = 'FIGHT!', :class => 'general_btn') %>
    </div>


<% end %>


